<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>店舗一覧</title>
  </head>
  <style>
    body {
      font-family: Arial, sans-serif;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }
    .header-container {
      text-align: center;
      margin: 30px 0;
    }
    .store-container {
      width: 40%;
      margin-bottom: 20px;
      padding: 10px;
    }
    .store-items {
      text-align: left;
    }
    .back_button {
      text-align: center;
    }
  </style>
  <body>
    <div class="header-container">
      <h2>店舗一覧</h2>
    </div>
    <div class="store-container">
      <div th:each="store : ${stores}" class="store-items">
        <h2 th:text="${store.name}"></h2>
        <span th:text="${store.address}"></span>
      </div>
    </div>
    <div class="back_button">
      <a th:href="@{/home}">戻る</a>
    </div>
  </body>
</html>
